{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<h1>PRODUCTS</h1>

<div class="container">
{% for product in products %}
    <div class="card">
        <h3>{{ product.name }}</h3>

        {% if product.image %}
            <img src="{{ product.image.url }}" class="product-img">
        {% endif %}

        <p class="price">PRICE: ${{ product.price }}</p>

        <div class="buttons">
            <a href="{% url 'product_detail' product.id %}">VIEW</a>
            <a href="{% url 'add_to_cart' product.id %}">Add to Cart</a>
        </div>
    </div>
{% endfor %}
</div>

</body>
</html>
