body {
    font-family: Arial;
    background-color: skyblue;
    margin: 0;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 15px 40px;
    background-color: white;
}

.left-links,
.right-links {
    display: flex;
    align-items: right;
    gap: 15px;
}

.welcome {
    font-weight: bold;
}

.top-bar a,
.card a {
    text-decoration: none;
    background-color: rgb(179, 46, 179);
    color: white;
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 14px;
}

.top-bar a:hover,
.card a:hover {
    opacity: 0.8;
}

h1 {
    text-align: center;
    margin: 30px 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px;
}

.card {
    background-color: white;
    width: 250px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.product-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.price {
    font-weight: bold;
    margin: 10px 0;
}
